@page
@model RazorPagesToastmaster.Pages.Users.IndexModel

@{
    ViewData["Title"] = "User List";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th style="width: 25%">
                @Html.DisplayNameFor(model => model.User[0].Username)
            </th>
            <th style="width: 75%">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
